.field {
    width: 200px;
    align-items: center;
}

p {
    color: crimson;
    font-weight: 400;
    font-size: 50px;
    text-align: center;

}

.box {
    width: 60px;
    height: 60px;
    border: 3px solid blueviolet;
    float: left;
    font-size: 50px;
}